$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?9890e4f6eddb23febd8c5e9ec37ab564") format("truetype"),
url("./flaticon.woff?9890e4f6eddb23febd8c5e9ec37ab564") format("woff"),
url("./flaticon.woff2?9890e4f6eddb23febd8c5e9ec37ab564") format("woff2"),
url("./flaticon.eot?9890e4f6eddb23febd8c5e9ec37ab564#iefix") format("embedded-opentype"),
url("./flaticon.svg?9890e4f6eddb23febd8c5e9ec37ab564#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "compass": "\f101",
    "plan": "\f102",
    "color-palette": "\f103",
    "ruler": "\f104",
    "architect": "\f105",
    "wall": "\f106",
);

.flaticon-compass:before {
    content: map-get($flaticon-map, "compass");
}
.flaticon-plan:before {
    content: map-get($flaticon-map, "plan");
}
.flaticon-color-palette:before {
    content: map-get($flaticon-map, "color-palette");
}
.flaticon-ruler:before {
    content: map-get($flaticon-map, "ruler");
}
.flaticon-architect:before {
    content: map-get($flaticon-map, "architect");
}
.flaticon-wall:before {
    content: map-get($flaticon-map, "wall");
}
